# Database configuration
DATABASE_PORT=5432
DATABASE_NAME=test
DATABASE_USERNAME=test
DATABASE_PASSWORD=test

# App configuration
APP_HOST=0.0.0.0
APP_PORT=3001
APP_ENV=development
API_URL="http://localhost:3001/api"
APP_URL="http://localhost:3000"

# Auth configuration
AUTH_SECRET=cat
AUTH_EXPIRY=86400

# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# Google configuration
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=

# Facebook configuration
FACEBOOK_CLIENT_ID=
FACEBOOK_SECRET=

# Mail configuration
SENDGRID_API_KEY=
SENDGRID_WELCOME_TEMPLATE_ID=
SENDGRID_FORGOT_PASSWORD_TEMPLATE_ID=

# Throttling configuration
THROTTLE_TTL=60
THROTTLE_LIMIT=10

# API URL
REACT_APP_GRAPHQL_URL=http://localhost:3001/graphql
REACT_APP_API_URL=http://localhost:3001/api
REACT_APP_STORAGE_PREFIX=TOPINVOICE_V1

# CRA configuration
SKIP_PREFLIGHT_CHECK=true
EXTEND_ESLINT=true
GENERATE_SOURCEMAP=true
TSC_COMPILE_ON_ERROR=true


