.top-f10 {
  font-size: 10px;
}

.top-f11 {
  font-size: 11px;
}

.top-f12 {
  font-size: 12px;
}

.top-f13 {
  font-size: 13px;
}

.top-f14 {
  font-size: 14px;
}

.top-f15 {
  font-size: 15px;
}

.top-f16 {
  font-size: 16px;
}

.top-f17 {
  font-size: 17px;
}

.top-f18 {
  font-size: 18px;
}

.top-f19 {
  font-size: 19px;
}

.top-f20 {
  font-size: 20px;
}

.top-f21 {
  font-size: 21px;
}

.top-f22 {
  font-size: 22px;
}

.top-f23 {
  font-size: 23px;
}

.top-f24 {
  font-size: 24px;
}

.top-f25 {
  font-size: 25px;
}

.top-f26 {
  font-size: 26px;
}

.top-f27 {
  font-size: 27px;
}

.top-f28 {
  font-size: 28px;
}

.top-f29 {
  font-size: 29px;
}

.top-light {
  font-weight: 300;
}

.top-normal {
  font-weight: 400;
}

.top-medium {
  font-weight: 500;
}

.top-semi_bold {
  font-weight: 600;
}

.top-bold {
  font-weight: 700;
}

.top-m0 {
  margin: 0;
}

.top-mb0 {
  margin-bottom: 0;
}

.top-mb1 {
  margin-bottom: 1px;
}

.top-mb2 {
  margin-bottom: 2px;
}

.top-mb3 {
  margin-bottom: 3px;
}

.top-mb4 {
  margin-bottom: 4px;
}

.top-mb5 {
  margin-bottom: 5px;
}

.top-mb6 {
  margin-bottom: 6px;
}

.top-mb7 {
  margin-bottom: 7px;
}

.top-mb8 {
  margin-bottom: 8px;
}

.top-mb9 {
  margin-bottom: 9px;
}

.top-mb10 {
  margin-bottom: 10px;
}

.top-mb11 {
  margin-bottom: 11px;
}

.top-mb12 {
  margin-bottom: 12px;
}

.top-mb13 {
  margin-bottom: 13px;
}

.top-mb14 {
  margin-bottom: 14px;
}

.top-mb15 {
  margin-bottom: 15px;
}

.top-mb16 {
  margin-bottom: 16px;
}

.top-mb17 {
  margin-bottom: 17px;
}

.top-mb18 {
  margin-bottom: 18px;
}

.top-mb19 {
  margin-bottom: 19px;
}

.top-mb20 {
  margin-bottom: 20px;
}

.top-mb21 {
  margin-bottom: 21px;
}

.top-mb22 {
  margin-bottom: 22px;
}

.top-mb23 {
  margin-bottom: 23px;
}

.top-mb24 {
  margin-bottom: 24px;
}

.top-mb25 {
  margin-bottom: 25px;
}

.top-mb26 {
  margin-bottom: 26px;
}

.top-mb27 {
  margin-bottom: 27px;
}

.top-mb28 {
  margin-bottom: 28px;
}

.top-mb29 {
  margin-bottom: 29px;
}

.top-mb30 {
  margin-bottom: 30px;
}

.top-pt25 {
  padding-top: 25px;
}

.top-width_1 {
  width: 8.33333333%;
}

.top-width_2 {
  width: 16.66666667%;
}

.top-width_3 {
  width: 25%;
}

.top-width_4 {
  width: 33.33333333%;
}

.top-width_5 {
  width: 41.66666667%;
}

.top-width_6 {
  width: 50%;
}

.top-width_7 {
  width: 58.33333333%;
}

.top-width_8 {
  width: 66.66666667%;
}

.top-width_9 {
  width: 75%;
}

.top-width_10 {
  width: 83.33333333%;
}

.top-width_11 {
  width: 91.66666667%;
}

.top-width_12 {
  width: 100%;
}

.top-accent_color,
.top-accent_color_hover:hover {
  color: #2ad19d;
}

.top-accent_bg,
.top-accent_bg_hover:hover {
  background-color: #2ad19d;
}

.top-primary_color {
  color: #111111;
}

.top-secondary_color {
  color: #777777;
}

.top-ternary_color {
  color: #353535;
}

.top-ternary_color {
  border-color: #eaeaea;
}

.top-focus_bg {
  background: #f6f6f6;
}

.top-accent_10_bg {
  background-color: rgba(42, 209, 157, 0.1);
}

.top-container {
  max-width: 880px;
  min-height: 1244px;
  color: #777777;
  font-size: 13px;
  background: #fff;
  padding: 50px;
}

.top-container b {
  font-weight: 600;
}

.top-container table {
  border-spacing: 0;
}

.top-container td,
.top-container th {
  padding: 10px 15px;
  line-height: 1.55em;
}

.top-container td {
  border-top: 1px solid #eaeaea;
}

.top-container p {
  margin-top: 0;
}

.top-text_center {
  text-align: center;
}

.top-text_right {
  text-align: right;
}

.top-border_bottom_0 {
  border-bottom: 0;
}

.top-border_top_0 {
  border-top: 0;
}

.top-border_bottom {
  border-bottom: 1px solid #eaeaea;
}

.top-border_top {
  border-top: 1px solid #eaeaea;
}

.top-border_left,
.top-border_left td {
  border-left: 1px solid #eaeaea;
}

.top-border_right {
  border-right: 1px solid #eaeaea;
}

.top-table_baseline {
  vertical-align: baseline;
}

.top-round_border {
  border: 1px solid #eaeaea;
  overflow: hidden;
  border-radius: 6px;
}

.top-border_none {
  border: none;
}

.top-border_left_none {
  border-left-width: 0;
}

.top-border_right_none {
  border-right-width: 0;
}

.top-invoice.top-style1 {
}

.top-invoice.top-style1 .top-invoice_head {
  display: flex;
  justify-content: space-between;
}

.top-invoice.top-style1 .top-invoice_head.top-type1 {
  align-items: flex-end;
  padding-bottom: 25px;
  border-bottom: 1px solid #eaeaea;
}

.top-invoice.top-style1 .top-invoice_footer {
  display: flex;
}

.top-invoice.top-style1 .top-invoice_footer table {
  margin-top: -1px;
}

.top-invoice.top-style1 .top-left_footer {
  width: 55%;
  padding: 10px 15px;
}

.top-invoice.top-style1 .top-right_footer {
  width: 46%;
}

.top-invoice.top-style1 .top-note {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
}

.top-invoice.top-style1 .top-note_left {
  margin-right: 10px;
  margin-top: 6px;
  margin-left: -5px;
  display: flex;
}

.top-invoice.top-style1 .top-note_left svg {
  width: 32px;
}

.top-invoice.top-style1 .top-invoice_left {
  max-width: 55%;
}

.top-invoice_btns {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.top-invoice_btns .top-invoice_btn:first-child {
  border-radius: 5px 0 0 5px;
}

.top-invoice_btns .top-invoice_btn:last-child {
  border-radius: 0 5px 5px 0;
}

.top-invoice_btn {
  display: inline-flex;
  align-items: center;
  border: none;
  font-weight: 600;
  padding: 8px 20px;
  cursor: pointer;
}

.top-invoice_btn svg {
  width: 24px;
  margin-right: 5px;
}

.top-invoice_btn.top-color1 {
  color: #111111;
  background: rgba(42, 209, 157, 0.15);
}

.top-invoice_btn.top-color1:hover {
  background-color: rgba(42, 209, 157, 0.3);
}

.top-invoice_btn.top-color2 {
  color: #fff;
  background: #2ad19d;
}

.top-invoice_btn.top-color2:hover {
  background-color: rgba(42, 209, 157, 0.8);
}

.top-table_responsive {
  overflow-x: auto;
}

.top-table_responsive > table {
  min-width: 600px;
}

.top-50_col > * {
  width: 50%;
  flex: none;
}

.top-bar_list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.top-bar_list::before {
  content: '';
  height: 75%;
  width: 2px;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #eaeaea;
}

.top-bar_list li {
  position: relative;
  padding-left: 25px;
}

.top-bar_list li:before {
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #eaeaea;
  position: absolute;
  left: 0;
  top: 6px;
}

.top-bar_list li:not(:last-child) {
  margin-bottom: 10px;
}

.top-table.top-style1.top-type1 {
  padding: 10px 30px;
}

.top-table.top-style1.top-type1 tr:first-child td {
  border-top: none;
}

.top-table.top-style1.top-type1 tr td:first-child {
  padding-left: 0;
}

.top-table.top-style1.top-type1 tr td:last-child {
  padding-right: 0;
}

.top-table.top-style1.top-type2 > * {
  padding: 0 10px;
}

.top-table.top-style1.top-type2 .top-table_title {
  padding: 20px 0 0 15px;
  margin-bottom: -5px;
}

.top-table.top-style2 td {
  border: none;
}

.top-table.top-style2 td,
.top-table.top-style2 th {
  padding: 12px 15px;
  line-height: 1.55em;
}

.top-table.top-style2 tr:not(:first-child) {
  border-top: 1px dashed #eaeaea;
}

.top-list.top-style1 {
  list-style: none;
  padding: 0;
  margin: 0;
}

.top-list.top-style1 li {
  display: flex;
}

.top-list.top-style1 li:not(:last-child) {
  border-bottom: 1px dashed #eaeaea;
}

.top-list.top-style1 li > * {
  flex: none;
  width: 50%;
  padding: 7px 0;
}

.top-list.top-style2 {
  list-style: none;
  margin: 0 0 30px 0;
  padding: 12px 0;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

.top-list.top-style2 li {
  display: flex;
}

.top-list.top-style2 li > * {
  flex: 1;
  padding: 5px 25px;
}

.top-heading.top-style1 {
  line-height: 1.5em;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding: 10px 0;
}

.top-no_border {
  border: none !important;
}

.top-grid_row {
  display: grid;
  grid-gap: 20px;
  list-style: none;
  padding: 0;
}

.top-col_2 {
  grid-template-columns: repeat(2, 1fr);
}

.top-col_3 {
  grid-template-columns: repeat(3, 1fr);
}

.top-col_4 {
  grid-template-columns: repeat(4, 1fr);
}

.top-border_less td {
  border-color: transparent;
}

.top-special_item {
  position: relative;
}

.top-special_item:after {
  content: '';
  height: 52px;
  width: 1px;
  background-color: #eaeaea;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.top-table.top-style1 .top-table.top-style1 tr:not(:first-child) td {
  border-color: #eaeaea;
}

.top-table.top-style1 .top-table.top-style2 td {
  padding: 12px 0;
}

.top-ticket_wrap {
  display: flex;
}

.top-ticket_left {
  flex: 1;
}

.top-ticket_right {
  flex: none;
  width: 215px;
}

.top-box.top-style1 {
  border: 2px solid #eaeaea;
  border-radius: 5px;
  padding: 20px 10px;
  min-width: 150px;
}

.top-box.top-style1.top-type1 {
  padding: 12px 10px 10px;
}

.top-max_w_150 {
  max-width: 150px;
}

.top-left_auto {
  margin-left: auto;
}

.top-title_1 {
  display: inline-block;
  border-bottom: 1px solid #eaeaea;
  min-width: 60%;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.top-box2_wrap {
  display: grid;
  grid-gap: 30px;
  list-style: none;
  padding: 0;
  grid-template-columns: repeat(2, 1fr);
}

.top-box.top-style2 {
  border: 1px solid #eaeaea;
  padding: 25px 30px;
  border-radius: 5px;
}

.top-box.top-style2 .top-table.top-style2 td {
  padding: 12px 0;
}

@media print {
  .top-hide_print {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .top-mobile_hide {
    display: none;
  }
  .top-invoice.top-style1 {
    padding: 30px 20px;
  }
  .top-invoice.top-style1 .top-right_footer {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .top-invoice.top-style1 .top-logo {
    margin-bottom: 10px;
  }
  .top-invoice.top-style1 .top-invoice_head {
    flex-direction: column;
  }
  .top-invoice.top-style1 .top-invoice_head.top-type1 {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .top-invoice.top-style1 .top-invoice_head .top-text_right {
    text-align: left;
  }
  .top-list.top-style2 li {
    flex-direction: column;
  }
  .top-list.top-style2 li > * {
    padding: 5px 20px;
  }
  .top-grid_row {
    grid-gap: 0;
  }
  .top-col_2,
  .top-col_3,
  .top-col_4 {
    grid-template-columns: repeat(1, 1fr);
  }
  .top-table.top-style1.top-type1 {
    padding: 0 20px;
  }
  .top-box2_wrap {
    grid-template-columns: repeat(1, 1fr);
  }
  .top-box.top-style1.top-type1 {
    max-width: 100%;
    width: 100%;
  }
  .top-invoice.top-style1 .top-invoice_left {
    max-width: 100%;
  }
}
